@font-face {
    font-family: 'FixelText';
    src: url('../fonts/FixelText/FixelText-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FixelText';
    src: url('../fonts/FixelText/FixelText-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FixelText';
    src: url('../fonts/FixelText/FixelText-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FixelText';
    src: url('../fonts/FixelText/FixelText-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
